/* TopBar.css */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.topbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%; 
  height: 64px;
  background: #23408e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  box-sizing: border-box
}

.topbar-logo {
  height: 48px;
}

.topbar-title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.topbar-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1.5rem;
}

.topbar-notification {
  width: 35px;
  height: 35px;
  font-size: .5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.1s ease;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.topbar-notification-icon {
  width: 20px;
  height: 20px;
}

.topbar-notification-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #e74c3c;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
}

.notification-popup {
  position: absolute;
  top: 50px; /* slightly below the bell */
  right: 0;
  width: 250px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  padding: 0.5rem 0;
  z-index: 200;
}

.notification-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-popup li {
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.notification-popup li:hover {
  background: #f2f2f2;
}


@media (max-width: 600px) {
  .topbar {
    height: 48px;
    padding: 0 0.5rem;
  }
  .topbar-title {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .topbar-logo {
    height: 32px;
  }
 
}

