/* TopBar.css */

.topbar {
  width: 95.8%;
  height: 64px;
  background: #23408e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  position: sticky;
  top: 0;
  z-index: 20;
}

.topbar-logo {
  height: 48px;
}

.topbar-title {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.topbar-notification {
  font-size: .5rem;
  color: #fff;
  cursor: pointer;
  position: relative;

}

.topbar-notification-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #e74c3c;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
}



@media (max-width: 600px) {
  .topbar {
    height: 48px;
    padding: 0 0.5rem;
  }
  .topbar-title {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .topbar-logo {
    height: 32px;
  }
 
}

