/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25597c;
  padding-top: 40px;
  padding-left: 16px; 
  padding-right: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.app-logo {
  height: 50px; 
  width: auto;
}


.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  overflow: hidden; 
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Bottom Navigation */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #25597c;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height: 60px;
  border-top: 1px solid #eee;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 10;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: none;
  color: white;
  font-size: 45px;
  border: none;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-icon.smaller-icon {
  font-size: 42px;
}

.nav-icon.even-smaller-icon {
  font-size: 38px;
}

.nav-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.nav-icon.active {
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 50%;
  transform: scale(1.05);
}


/* Title Row */
.title-container{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  place-items: center;
  margin-top: 90px;
  margin-left: 1rem;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 40px;
  color: #25597c;
}

.title-container > h1{
  font-size: 22px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
  }

  
}