.response-team-title {
  color: #23408e;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.response-team-card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-top: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.response-team-controls {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.create-team-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-weight: 500;
  cursor: pointer;
}

.response-team-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

.response-team-table th,
.response-team-table td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  font-size: 14px;
}

.availability-badge {
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.status-available {
  color: #16a34a;
  font-weight: 600;
}

.status-unavailable {
  color: #dc2626;
  font-weight: 600;
}


.response-team-pagination {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 14px;
  margin-top: 8px;
}

.view-btn {
  background: #e0e7ff;
  color: #2563eb;
  border: none;
  border-radius: 6px;
  padding: 6px 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.delete-btn {
  background: #ffe0e0;
  color: #eb2525;
  border: none;
  border-radius: 6px;
  padding: 6px 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.view-btn:hover, .delete-btn:hover {
  background: #2563eb;
  color: #fff;
}