.response-team-title {
  color: #23408e;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.response-team-card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-top: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.response-team-controls {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.create-team-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-weight: 500;
  cursor: pointer;
}

.response-team-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

.response-team-table th,
.response-team-table td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.response-team-table th {
  color: #374151;
}

.availability-badge {
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.status-available {
  color: rgb(120,200,120);
  font-weight: 600;
}

.status-unavailable {
  color: #c94c4c;
  font-weight: 600;
}


.response-team-pagination {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 14px;
  margin-top: 8px;
}

.view-btn {
  cursor: pointer;
  font-size: 24px;
  color: #757575;
  margin-right: 6px;
  transition: transform 0.15s, color 0.15s;
  vertical-align: middle;
}

.delete-btn {
  cursor: pointer;
  font-size: 24px;
  color: #e74c3c;
  transition: transform 0.15s, color 0.15s;
  vertical-align: middle;
}

.view-btn:hover {
  color: #626262;
  transform: scale(1.1);
}

.delete-btn:hover {
  color: #c0392b;
  transform: scale(1.1);
}