.history-container {
  background-color: #f7f8fa;
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
  padding-top: 15px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #25597c;
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-left {
  flex: 1;
}

.account-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #eee;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* Title Row */
.title-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: 12px;
  padding-top: 90px; 
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: #222;
  flex: 1;
  margin: 0;
}

.title-container{
  margin-bottom: 10px;
}

.report-button {
  display: flex;
  align-items: center;
  background-color: #c94c4c;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 12px;
  border: none;
  cursor: pointer;
}

.report-button-text {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-right: 6px;
}

.report-button-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

/* Scroll Container */
.scroll-container {
  padding-bottom: 120px;
  overflow-y: auto;
}

/* Report Card */
.report-card {
  background: #fff;
  border: 1px solid #b3c6e0;
  border-radius: 10px;
  padding: 12px;
  margin: 5px 5px 0px 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.report-card-border {
  margin-bottom: 0x;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.date-cell {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}

.type-cell {
  font-size: 15px;
  font-weight: bold;
  color: #222;
  padding: 0;
}

.landmark-cell {
  font-size: 14px;
  color: #222;
  padding-top: 6px;
}

.empty-text {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin: 30px 0;
}


/* Responsive Design */
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
  }
  
  .title-row {
    padding-top: 70px; 
  }
}

@media (max-width: 480px) {
  .title-row {
    margin-bottom: 16px;
  }
}
