
.details-form-container {
  background-color: #f7f8fa;
  min-height: 100vh;
  padding: 100px 16px 100px;
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-bottom: 18px;
}

.form-header h2 {
  font-size: 22px;
  font-weight: 700;
  color: #25597c;
  margin-bottom: 6px;
}

.form-header p {
  font-size: 14px;
  color: #555;
}

.form-group {
  margin-bottom: 14px;
}

.incident-details-label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
  color: #222;
  display: block;
}

.input-field, .textarea-field {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccd6e2;
  padding: 12px;
  font-size: 14px;
  background: #fff;
}

.textarea-field {
  min-height: 130px;
  resize: none;
}

.button-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.primary-btn {
  flex: 1;
  background-color: #25597c;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.secondary-btn {
  flex: 1;
  background-color: #c94c4c;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}
